[submodule "externallibs/code2seq-pretraind"]
	path = externallibs/code2seq-pretraind
	url = git@github.com:teruto725/my-code2seq.git
[submodule "externallibs/code2seq-original"]
	path = externallibs/code2seq-original
	url = git@github.com:teruto725/my-code2seq-original.git
[submodule "externallibs/src2abs"]
	path = externallibs/src2abs
	url = git@github.com:micheletufano/src2abs.git
[submodule "externallibs/code_review"]
	path = externallibs/code_review
	url = git@github.com:RosaliaTufano/code_review.git
